<%= form_with model: @question do |form| %>
  <% if @question.errors.any? %>
    <div>
      <h2 class="h4"><u><%= pluralize(@question.errors.count, "エラー") %>により、この質問は保存できませんでした</u></h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>