<h3>質問・詳細ページ</h3>
<p>【タイトル】<%= @question.title %></p>
<p>【名前】:<%= @question.name %></p>
<p>【コンテンツ】:<%= @question.content %></p>
<%= link_to '削除', question_path(@question),
          data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
<%= link_to '編集', edit_question_path(@question), class: "btn btn-sm btn-success" %>

<div class="mt-3">
<h2>Answers</h2>
<% @question.answers.each do |answer| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= answer.name %></h5>
    <p class="card-text"><%= answer.content %></p>
    <%= link_to("回答削除",[answer.question,answer],data:{turbo_method:'delete', turbo_confirm:"Are you sure?"}, class: "btn btn-sm btn-danger") %>
    <%= link_to("回答編集","/questions/#{@question.id}/answers/#{answer.id}/edit" ,data:{turbo_method:"get"}, class: "btn btn-sm btn-success") %>

    <%
=begin%>
 qandaサイトの記述方法 
<%
=end%>

    <%
=begin%>
 <%= link_to '答えを編集する', "/questions/#{@question.id}/answers/#{answer.id}/edit" ,data:{turbo_method:"get"} %></td>  
<%
=end%>
  </div>
</div>
<% end %>

<h4>回答を追加する</h4>
<%= form_with model:[@question,@question.answers.build] do |form| %>

<div>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :content %><br>
  <%= form.text_area :content %>
</div>

<div>
  <%= form.submit '登録', class:'btn btn-sm btn-primary' %>
</div>

<% end %>